
manifest {
    name        = 'Variant Calling Pipeline'
    author      = 'Pavel Ugreninov'
    description = 'This pipeline do quality control, trimming, alignment or assembly, and then variant calling of fastq files provided'
    mainScript  = 'main.nf'
    version     = '0.1.0'
    nextflowVersion = '>=22.10.4'
}

params { 
    numberSRA          = null 
    input_reads_folder = null
    ref_type           = null
    reference          = null
    outdir             = 'results'
    adapters           = "${projectDir}/adapters/TruSeq3-PE.fa"
    adapters2          = "${projectDir}/adapters/TruSeq2-SE.fa"
    bed_file           = ''
    bed_file2          = ''
}

profiles {

    test1 {
        params {
            input_reads_folder  = './test_data/reads/'
            ref_type            = 'assemble'
        }
        docker.enabled      = true
        process.container   = 'ugrnpavel/homework3:latest'
    }
    test2 {
            params {
                numberSRA           = 'SRR6351930'
                ref_type            = 'alignment'
                reference           = 'test_data/reference/GCF_000005845.2_ASM584v2_genomic.fna'
            }
            docker.enabled      = true
            process.container   = 'ugrnpavel/homework3:latest'
        }

    local {
        process.executor    = 'local'
        conda.enabled       = true
        process.conda       = "/home/pavel/anaconda3/envs/homework3"
        process {
            cpus   = 2
            memory = '4.GB'
        }
    }

    cluster {
        conda.enabled       = true
        process.conda       = "${baseDir}/env.yaml"
        process {
            cpus   = 2
            memory = '4.GB'
        }
    }

    container {
        process.container      = 'ugrnpavel/homework3:latest'
        docker.enabled    = true
        process {
            cpus   = 2
            memory = '4.GB'
        }
    }
}

process {
    withName: 'mpileup' {
        publishDir = [
            path: { "${params.outdir}/variants/" },
            mode: 'copy'
        ]
        ext.args2 = "-m -v"
        container = 'ugrnpavel/homework3:latest' //I defined this container explicitly because w/o it docker is unable
                                                 //to access  the image from the module (it worked for conda .yaml, though)
                                                 //so I installed bcftools into my image using mamba
    }
}
